*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* a{
    font-size: 5em;
    text-decoration-line: underline;
    text-decoration-color: aqua;
    text-decoration-style:  dashed ;
    text-decoration-thickness: 40px;
    text-decoration: underline red dotted 10px;
} */

p{
    /* text-transform: uppercase; */
    text-transform: capitalize;
    /* text-transform: lowercase; */
    /* letter-spacing: 5px; */
    /* word-spacing: 15px; */
    /* text-indent: 50px; */
    /* line-height: 2; */
    /* text-shadow: 5px 5px 10px red; */

}